<% draft_pick ||= @draft_pick %>
<div class="form-horizontal">
  <%= form_for [current_user, draft_pick] do |f| %>
    <%= render partial: 'shared/errors', locals: {object: draft_pick} %>
    <div class="form-group">
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:category_id, Category.priority_order, :id, :name, {}, class: "form-control") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :round_drafted, "Round", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :round_drafted, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <%= f.submit draft_pick.id ? "Update Draft Pick" : "Make Draft Pick", class: "btn btn-success btn-lg" %>
      </div>
    </div>
  <% end %>
</div>
