<div class="container">
  <div class="page-header">
    <% if current_user.admin %>
      <div class="pull-right">
        <%= link_to "Make New Match", new_round_match_path(@round), class: "btn btn-danger btn-lg" %>
      </div>
    <% end %>
    <% if regular_play_rounds.include?(@round) %>
      <h1><%= "Round #{@round} Matches" %></h1>
    <% elsif semi_final_rounds.include?(@round) %>
      <h1><%= "Semi-Final Matches (Round #{@round})" %></h1>
    <% else %>
      <h1><%= "Final Match (Round #{@round})" %></h1>
    <% end %>
  </div>

  <% @matches.each do |match| %>
    <div class="team_match col-xs-6">
      <table class="table match_table">
        <tr>
          <th colspan=2><%= match.team1.team_abbr_and_name %></th>
        </tr>
        <%= render partial: "team_match", locals: {match: match, team: match.team1} %>
      </table>
    </div>
    <div class="team_match col-xs-6">
      <table class="table match_table">
        <tr>
          <th colspan=2><%= match.team2.team_abbr_and_name %></th>
        </tr>
        <%= render partial: "team_match", locals: {match: match, team: match.team2} %>
      </table>
    </div>
  <% end %>

  <% if current_user.admin %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Match</th>
          <th>Has not voted</th>
        </tr>
      </thead>
      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <td><%= "#{match.team1.team_abbr_and_name} vs #{match.team2.team_abbr_and_name}" %></td>
            <td><%= match.eligible_voters.select {|user| user.has_not_voted_on_match?(match) }.map(&:first_name).to_sentence %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>


</div>
