<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Draft Schedule", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My team", user_path(@current_user) %></li>
            <li class="divider" role="separator"></li>
            <% @current_user.opposing_teams.each do |team| %>
              <li><%= link_to team.team_abbr_and_name, user_path(team) %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Draft Matches<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Round.regular_play_rounds.each do |round_num| %>
              <!-- TODO: make link to matches -->
              <li><%= link_to "Round #{round_num}", "#" %></li>
            <% end %>
          </ul>
        </li>
        <!-- TODO: add links to semi-finals and finals -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @current_user.full_name %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "My team", user_path(@current_user) %></li>
            </ul>
          </li>
          <li><%= link_to "Sign Out", sign_out_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
